.tepa {
  display: flex;
}

.cardone {
  display: none;
}

.cardtwo {
  display: flex;
}

@media screen and (max-width: 780px) {
  .tepa {
    display: none;
  }
}

@media screen and (min-width: 678px) {
  .cardone {
    display: flex;
  }
  .cardtwo {
    display: none;
  }
}
