header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 70px;
  .user {
    .navhandler {
      display: none;
      font-size: 23px;
      cursor: pointer;
      &:hover {
        color: slategray;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  header {
    .container {
      .menu {
        width: 100%;
        flex-direction: column;
        height: 95vh;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 70px;
        background: rgb(46, 55, 65);
        color: white;
      }
      .menu.active {
        left: -100%;
        overflow: hidden;
      }
      .left {
        .user {
          .navhandler {
            display: block;
          }
        }
      }
    }
  }
}
